.problems-container {
  padding-top: 50px;
  text-align: center;
}

.problems-container h1 {
  margin-top: 0;
  color: #ffffff;
}

.problems-container p {
  color: #858585;
}

/* Grid layout: 3 columns wide, auto-rows, 2 total rows with 6 items */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  max-width: 1200px; /* optional, for centering */
  margin: 50px auto 0; /* top margin + center horizontally */
}
