.interview-container {
  h1 {
    font-size: 25px;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}
cam-container {
  height: 100%;
}
